/* PT Sans Narrow (regular)  */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
       url('../fonts/web/ptsansnarrow.woff2') format('woff2'),
       url('../fonts/web/ptsansnarrow.woff') format('woff');
}

/* PT Sans Narrow (bold) */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
       url('../fonts/web/ptsansnarrowbold.woff2') format('woff2'),
       url('../fonts/web/ptsansnarrowbold.woff') format('woff');
}


html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;

  color: white;

  background-color: #000;
  background-image: url("../img/body-picture.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

/* кнопки */
.button {
  display: block;
  width: 140px;
  text-align: center;

  color: #fff;
  background-color: #000;
  padding: 10px 0;
}

/* header */

.header__navigation {
  display: flex;
  flex-direction: column;

}

.navigation__logo {
  order: 1;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.navigation__wrapper {
  background-color: #000;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
}

.navigation__list,
.navigation__list_login {
  list-style: none;
}

.navigation__list {
  display: flex;
  width: 650px;
}

.navigation__list_login {
  display: flex;
}

.navigation__link,
.login__link {
  display: block;
  color: #fff;
  margin: 20px 39px 20px 0;

  font-size: 16px;
  line-height: 20px;
}

.navigation__item:last-child .navigation__link:last-of-type {
  margin-right: 0;
}

.login__link_login {
  padding-left: 40px;
  margin-right: 0;
}


/* advantages */
.advantages {
  padding-bottom: 83px;
}
.advantages__list {
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.advantages__item {
  width: 300px;
  padding: 0 20px;

  text-align: center;
}

.advantages__title {
  font-size: 30px;
  line-height: 42px;
  padding-bottom: 76px;
}

.index-column {
  display: flex;
  justify-content: space-between;

  background-color: #fff;
  padding: 55px 87px 50px 81px;
  margin-bottom: 36px;
}

.index-column:nth-of-type(2) {
  margin-bottom: 65px;
}

.news {
  width: 380px;
}

.news__list {
  list-style: none;
}

.news__item {
  margin-bottom: 29px;
}

.news__text {
  color: #000;
  margin-bottom: 5px;
}

.news__date {
  color: #000;
  text-transform: lowercase;
}

.news__title,
.gallery__title,
.information__title,
.registration__title {
  font-size: 30px;
  line-height: 42px;
  color: #000;
  margin-bottom: 29px;
}

/* gallery */

.gallery {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.gallery__list {
  align-self: center;
}
.gallery__link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
}

.link-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

/* information */
.information {
  width: 380px;
}

.information__text {
  color: #000;
  margin-bottom: 30px;
}

.information__number {
  color: #000;
}

.information__link-wrapper {
    display: flex;
    justify-content: flex-start;
}

.information__link_map {
  margin-right: 20px;
}

.registration {
  width: 300px;
}

.registration__text {
  color: #000;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form__container {
  margin-bottom: 16px;
}

.form__container:nth-child(2n) {
  margin-left: auto;
}

.form__container:nth-child(3),
.form__container:nth-child(4) {
  margin-bottom: 20px;
}

.form__label {
  color: #000;
  margin-bottom: 12px;
  display: block;
  margin-left: 15px;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.form__input {
  width: 140px;
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid #000101;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  padding: 8px 17px;
}

.form__button {
  display: block;
  width: 100%;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}


.footer {
  background-color: #232323;
  background-image: url("../img/footer-picture.png");
  background-position: top center;
  background-repeat: no-repeat;

  padding-top: 62px;
  padding-bottom: 43px;
}

.footer__wrapper {
  display: flex;
}

.footer__address {
  width: 310px;
  margin-right: 90px;
}

.address__link {
  text-decoration: underline;
  color: #fff;
}

.address__number {
  color: #fff;
}

.address__text_white,
 .developed-by__text_white,
 .social__slogan_white {
  color: #fff;
}

/* social */
.footer__social {
  width: 140px;
  margin-right: auto;
}


.social__slogan {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.social__list {
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.social__link {
  display: block;
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;
}

/* developed */
.developed-by {
  width: 140px;
}

.developed-by__text {
  text-align: center;
}

.developed-by__link {
  margin-top: 20px;
}


/* CATALOG */
.body-inner {
  background-color: transparent;
  background-image: none;

  color: #000;
}

.header_inner {
  background-color: #000;
}

.navigation_inner {
  display: flex;
  justify-content: flex-start;
   align-items: center;
  flex-direction: row;
}

.navigation__list_inner {
  margin-right: auto;
}

.navigation__link-inner {
  width: 111;
  height: 24px;
  margin-right: 40px;
}

.main-inner {
  background-color: #f8f5f2;
  background-image: url("img/main-picture.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-inner__title {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 27px;
}

.breadscrumbs {
  margin-bottom: 58px;
}

.breadscrumbs__list {
  list-style: none;

  display: flex;
}

.breadscrumbs__link {
  color: #000;
  line-height: 20px;

  margin-right: 14px;
  margin-left: 14px;
}

.breadscrumbs__item:last-child > .breadscrumbs__link {
  margin-right: 0;
}


.breadscrumbs__item:first-child > .breadscrumbs__link {
  margin-left: 0;
}

/* PRODUCT */
.product {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

/* filter */
.filter {
  width: 220px;
}

.filter__title {
  font-size: 24px;
  line-height: 30px;

  margin-bottom: 30px;
}

.filter__item {
  border: none;
  padding: 0;
  margin-bottom: 50px;

  width: 200px;
}

.filter__row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 17px;
}

.filter__row:last-child {
  margin-bottom: 0;
}

.filter__label {
  line-height: 18px;
  padding-left: 43px;
}

.filter__button {
  width: 112px;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 700;
}

/* catalog */
.catalog {
  width: 700px;
}

.catalog__list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 16px;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.catalog__item:nth-child(3n) {
  margin-right: 0;
}

.catalog__image-link {
  display: block;
  width: 220px;
  height: 165px;
  margin-bottom: 16px;
}

.catalog__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: none;

  margin-bottom: 17px;
  margin-left: 16px;
}

.catalog__text-transform {
  display: block;
  text-transform: uppercase;
}

.catalog__price {
  display: inline-block;
  text-align: center;
  width: 109px;
  padding: 9px 10px 10px 10px;
  background-color: rgba(0, 1, 1, 0.2);

  margin-left: 16px;
}

.catalog__link {
  width: auto;
  display: inline-block;
  padding: 9px 18px 10px 19px;
  margin-left: -3px;
}

.pagination {
  margin-top: 25px;
}

.pagination__list {
  list-style: none;

  display: flex;
  justify-content: flex-start;
}

.pagination__link {
  width: 43px;
  height: 43px;
  margin-right: 7px;
  color: #fff;
  background-color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__item:last-child > .pagination__link {
  margin-right: 0;
}

.pagination__item_active > .pagination__link {
  background-color: #fff;
  color: #000;
}


/* product photos */
.product__wrapper {
  display: flex;
  justify-content: space-between;
}

.product-photos {
  width: 460px;

  padding-bottom: 50px;
}

.product-photos__full {
  margin-bottom: 20px;
}

.product-photos__full,
.product-photos__big {
  width: 460px;
  height: 498px;
}

.product-photos__big {
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

.product-photos__list-preview {
  list-style: none;

  display: flex;
}

.product-photos__item {
  width: 140px;
  height: 149px;
  margin-right: 20px;

  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.product-photos__item:last-child {
  margin-right: 0;
}


.product-info {
  width: 390px;
}

.product-info__wrapper {
  display: flex;
  width: 380px;

  margin-bottom: 40px;
}

.product-info__availability {
  margin-right: 176px;
}

.product-info__article {
  color: #aeaeae;
}

.product-info__text {
  width: 380px;
  margin-bottom: 40px;
}

.price-wrapper {
  margin-bottom: 67px;
}

.product-info__price {
  background-color: rgba(0, 1, 1, 0.2);
  display: inline-block;

  padding: 9px 10px 10px 10px;
}

.product-info__link {
  display: inline-block;

  padding: 9px 10px 10px 10px;
  margin-left: -3px;
  width: 78px;
}

.product-info__title {
  font-size: 24px;
  line-height: 30px;

  margin-bottom: 38px;
}

.product-info__list {
  list-style: none;
}

.product-info__item {
  padding-left: 20px;
}

